
.form-input{
    position: relative;
    border: 0;
    border-color: transparent;
    border-bottom: 1px solid black;
    transition: 400ms;
    width: 54.5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 115%;
    font-weight: bold;
    margin-bottom: 1.55%;
}

.form-input:active,
.form-input:focus{
    padding-left: 1rem;
    font-weight: initial;
}

@media screen and (max-width: 768px){
    .form-input{
        width: 80%;
    }
}