
.fa-ul.theform{
    margin-left: 0 !important;
}

.form-input{
    position: relative;
    border: 0;
    border: 2px solid #5d5e61;
    transition: 350ms;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 115%;
    padding-left: 1rem;
    outline: none;
    background-color: transparent !important;
}

.form-input:active,
.form-input:focus{
    font-weight: initial;
}

.form-data-contact label{
    color: #3b3f46 !important;
}

.form-data-contact textarea{
    resize: none;
}

.btn.btn-custom{
    border-radius: 2px;
    color: whitesmoke;
    background-color: #272c33 !important;
}

.btn.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem #c1c2c4 !important;
}