
#sideNav{
    background-color: #22272E;
}

#sideNav .navbar-nav .nav-item .nav-link{
    font-size: 78% !important;
}

.bold{
    font-weight: bold;
    font-size: 115%;
}

.navbar{
    padding: 0 0 !important;
}

.nav-link{
    color:whitesmoke !important;
}

#sideNav .navbar-collapse .navbar-nav{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link{
    border-left: 1px solid rgba(255,255,255,0.25);
}

.nav-link.active{
    border-left: 1px solid whitesmoke;
}

.social-icons .social-icon:hover{
    background-color: #0867b4 !important;
}

#contactame{
    color: #0867b4 !important;
}

.social-icons .social-icon.navbar-bottom{
    width: 1.85rem !important;
    height: 1.85rem !important;
    font-size: 1.05rem !important;
    margin-right: 0.5rem !important;
    margin-bottom: 1.25rem !important;
}

.text-primary{
    color: #0867b4 !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper > svg,
.img-square-wrapper > img{
    position: relative;
    top: 1.3rem;
}

.card:hover{
    cursor: pointer;
}

.card *{
    -webkit-user-select: none !important;
    user-select: none !important;
}

.card-title{
    margin-bottom: 0.45rem !important;
}

.cards .card,
.cards-2 .card,
.cards-3 .card{
    float: left !important;
    width: 199px !important;
}

.cards .card,
.cards-2 .card,
.cards-3 .card{
    margin-right: 0.65rem;
    margin-bottom: 0.65rem;
}

.cards-2 .card{
    width: 216px !important;
}

.cards-3 .card{
    width: 270px !important;
}

.btn-primary {
    color: #fff;
    background-color: #0867b4 !important;
    border-color: #1978c5 !important;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0867b4 !important;
    border-color: #0f71c2 !important;
    box-shadow: 0 0 0 0.2rem #5b8cb4 !important;
}

@media screen and (max-width: 991px){
    .d-991-c1{
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    .d-991-c2{
        padding-top: 0.25rem !important;
        padding-bottom: 0.75rem !important;
    }
    .d-991-c2 a{
        padding-left: 0.75rem !important;
    }
}