
#sideNav{
    background-color: #22272E;
}

#sideNav .navbar-nav .nav-item .nav-link{
    font-size: 78% !important;
}

.bold{
    font-weight: bold;
    font-size: 115%;
}

.navbar{
    padding: 0 0 !important;
}

.nav-link{
    color:whitesmoke !important;
}

#sideNav .navbar-collapse .navbar-nav{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link{
    border-left: 1px solid rgba(255,255,255,0.25);
}

.nav-link.active{
    border-left: 1px solid whitesmoke;
}

.social-icons .social-icon:hover{
    background-color: #0867b4 !important;
}

.social-icons .social-icon.navbar-bottom{
    width: 1.85rem !important;
    height: 1.85rem !important;
    font-size: 1.05rem !important;
    margin-right: 0.5rem !important;
    margin-bottom: 1.25rem !important;
}