.color-html5{
    color: rgb(224, 67, 9);
}

.color-css3{
    color: rgba(23, 49, 194, 0.925)
}

.color-php{
    color: #5e6caa;
}

.color-xml{
    color: rgb(24, 182, 32);
}

.color-js{
    color: rgb(235, 209, 39);
}

.color-nodejs{
    color: #3c873a;
}

.color-java{
    color: #5382a1;
}

.color-c{
    color: #555d8a;
}

.color-cpp{
    color: #3143a0;
}

.color-reactjs,
.color-wserver{
    color: #4fd1f1;
}

.color-laravel{
    color: #fb503b;
}

.color-cpanel{
    color: #FF6C2C;
}

.color-git{
    color: #f34f29;
}

.color-npm{
    color: #CC3534;
}

.color-ai{
    color: #FF9A00;
}

.color-wordpress{
    color: #00749C;
}

.color-github{
    color: #6e5494;
}

.color-slimphp,
.color-java-android{
    color: #719E40;
}

.color-filezilla{
    color: #c20505;
}

.color-jquery{
    color: #1d82c0;
}

.color-codeigniter{
    color: #EF411E;
}